.main {
  margin: 0px 0px 0px 20px;
  color: rgb(95, 93, 93);
  font-weight: 600;
  font-size: 1.3rem;
}
.heading {
  color: rgb(77, 71, 71);
  font-size: 2.6rem;
  margin-left: 4.6rem;
}
.form {
  padding: 0px 0px 10px 60px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  margin: 0rem 0rem 0rem 1rem;
}

.form label {
  display: block;
  padding-bottom: 10px;
  padding-top: 8px;
}
.form input {
  width: 85%;
  /* height: 37px; */
  padding: 12px 20px;
  border-radius: 5px;
  display: block;
  border: 1px solid rgba(209, 207, 207, 0.651);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.form select {
  width: 88.5%;
  padding: 12px 20px;
  border-radius: 5px;
  display: block;
  border: 1px solid rgba(209, 207, 207, 0.651);
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.form input:focus,
.form select:focus {
  border: 1px solid rgb(138, 186, 202);
}
.form option {
  font-size: 1.2rem;
  margin: 1rem;
}
.buttons {
  margin-top: 1rem;
}
.buttons button {
  margin-right: 1.3rem;
  border-radius: 4px;
  font-size: 1rem;
  padding: 5px 9px 5px 9px;
  outline: none;
  box-shadow: none;
  width: 120px;
  height: 40px;
  border: none;
}
.b1 {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
.b3 {
  background-color: rgba(206, 204, 193, 0.5);
  background-image: none;
}
.b2 {
  background-color: rgba(206, 204, 193, 0.5);
  background-image: none;
}
.b1:active,
.b2:active,
.b3:active {
  transform: scale(0.98);
  /* box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.24); */
  border: 1px solid black;
  /* Lowering the shadow */
}
option {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(202, 28, 28, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.icons {
  padding-right: 5px;
}
.link {
  text-decoration: none;
  color: black;
}
.alert {
  color: rgb(223, 103, 103);
  font-size: 1rem;
}
input:required:focus {
  border: 2px solid red;
}
