.header {
  background-color: #5bc0de;
  align-items: center;
  width: auto;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
}
.navigation {
  display: inline;
  margin-left: 8rem;
}
.navigation a {
  text-decoration: none;
  display: inline;
  color: hsla(0, 0%, 100%, 0.7);
  padding: 12px;
  font-size: 1.14rem;
}
.navigation a:visited,
.navigation a:hover {
  box-sizing: inherit;
  text-decoration: underline;
  color: hsla(0, 0%, 100%, 1);
}
